-- CreateEnum
CREATE TYPE "BookStatus" AS ENUM ('PENDING', 'APPROVED', 'REJECTED');

-- AlterTable
ALTER TABLE "Book" ADD COLUMN     "pointsAwarded" BOOLEAN NOT NULL DEFAULT false,
ADD COLUMN     "status" "BookStatus" NOT NULL DEFAULT 'PENDING',
ADD COLUMN     "verificationNote" TEXT,
ADD COLUMN     "verifiedAt" TIMESTAMP(3),
ADD COLUMN     "verifiedById" TEXT;

-- CreateIndex
CREATE INDEX "Book_status_idx" ON "Book"("status");

-- AddForeignKey
ALTER TABLE "Book" ADD CONSTRAINT "Book_verifiedById_fkey" FOREIGN KEY ("verifiedById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

